/* Wright Bosley 19 Feb 2019 MIT license
Cheer skills pages CSS helper */

#instructions {
	overflow:auto;
	width:90%;
	background-color:#1F2833;
	margin:5%;
}

#left, #right {
	width: 45%;
	margin: 5px;
	padding: 1em;
}

#left {
	float:left;
}

#right {
	float:right;
}

footer {
	width:90%;
	margin:auto;
	padding:0px 5px;
}

iframe {
	margin-left:100px;
}